# Build folders
bin/
obj/
[Bb]uild/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/

# Visual Studio files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Logs
*.log

# Packages
*.nupkg
*.snupkg
*.nuspec
packages/

# Others
*.dbmdl
*.jfm
*.pdb
*.cache
*.tmp

